@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #303236;
    font-family: "Roboto",sans-serif;
 
}

input{
    width: 90%;
    height: 40px;
    border: none;
    background-color: #171718;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    
    &:focus{
        outline: 0;
    }
  &::placeholder{
        color: rgba(#fff, 0.5);
    } 
}

.component--container{
    background: #3d3f43;
    border-radius: 5px;
    padding: 40px 45px;

  form{
      position: relative;
      margin-bottom: 30px;
      .search-icon{
          position: absolute;
          left: 0;
          top: 0px;
          width: 53px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      input{
        padding-left: 53px;
    }
    
  }
    h6{
         font-size: 16px;
         font-weight: bold;
         color: #fff;
         text-transform: uppercase;
         margin-left: 30px;
    }
    ul{
        margin-left: 30px;
        margin-top: 23px;
        li{
            a{
                display: block;
                text-decoration: none;
                font-size: 16px;
                color: #fff;
                padding: 7px 0;
                &:hover{
                    color: rgb(4, 96, 201);
                    font-weight: bold;
                }
            }
        }
    }
  

}


