@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    font-family: 'Prompt', sans-serif;
    
    &:focus{
        outline: 0;
    }
    }

    body{
        background: #EEEFF6;
    }

    .article-footer{
        width: 966px;
        height: 649px;
        background: #FFFFFF;
        border-radius: 20px;
        margin-left: 317px;
        margin-top:275px;

        .sign-up{
            width: 122px;
            height: 40px;
            margin-left: 110px;
            padding-top: 81px;
            h1{
                color: #000000;
            }
        }
       .paragraf{
           width: 672px;
           height: 114px;
           margin-left:110px;
           padding-top: 81px;

           p{
            color: #000000;
            font-size: 20px;
            line-height: 38px;
            text-align: left;
           }
       } 
     .button{
         width: 265px;
         height: 68px;
         border-radius: 35px;
         background: #2E407E;
         margin-left:110px;
         margin-top: 124px;
         padding-top: 22px;
       .text a{
            color: #FFFFFF;
            font-size: 18px;
            margin-left: 50px;
        }
     }
     .email{
         font-size: 16px;
         margin-left: 120px;
         margin-top: 20px;
         color: #2E407E;
     }
   .like{
       width: 91px;
       height:52px ;
       background: #EEEFF6;
       border-radius: 36px;
       margin-top: 120px;
       margin-left: 120px;
    button{
        margin-left: 30px;
        margin-top:10px;
        img{
            width: 32px;
            height: 32px;
        }
    }
   }
   .comment{
    width: 91px;
    height:52px ;
    background: #EEEFF6;
    border-radius: 36px;
    margin-top: -50px;
    margin-left: 230px;
 button{
     margin-left: 30px;
     margin-top:10px;
     img{
         width: 32px;
         height: 32px;
     }
 }
}
    }